.navbar{
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #E1E0E1;
}
.nav-left{
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
}
.logo-img{
    height: 25px;
    width: 50px;
    cursor: pointer;
}

.boards{
    border-left: 2px solid #E1E0E1;
    border-right: 2px solid #E1E0E1;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.search-bar{
    margin-left: 16px;

}
.search-field-container{
    border: 2px solid #E1E0E1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    
}
.search-field{
    padding: 6px;
    border: none;
    width: 90%;
}
.search-field:focus{
    outline: none;
}
.search-icon-container{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon{
    cursor: pointer;
}

.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right-icon{
    color: #B0AFAF;
    font-size: 20px;
    margin-left: 16px;
    cursor: pointer;
}
.profile-pic{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 16px;
    overflow: hidden;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .navbar{
        width: 100%;
    }
    .logo{
        padding: 0;
    }
    .logo-img{
        height: 50px;
        width: 100px;
    }
    .boards{
        font-size: 36px;
        padding: 0px 16px;
    }
    .search-bar{
        width: 45%;
        display: flex;
        align-items: center;
        margin-left: 8px;
    }
    .search-bar form{
        width: 100%;
        
    }
    .search-field-container{
        width: 100%;
    }
    .nav-right-icon{
        font-size: 36px;
        margin-left: 8px;
    }
    .profile-pic{
        height: 50px;
        width: 50px;
        margin-left: 8px;
    }
}

@media screen and (max-width: 596px) {
    .nav-left{
        padding-left: 0;
        margin-left: 0;
    }
    .logo{
        display: none;
        margin: 0;
    }
    .boards{
        border: none;
        margin: 0;
        font-size: 48px;
        padding: 0;
    }
    .boards p{
        display: none;
    }
    .search-bar{
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding-top: 8px;
    }
.nav-right{
    padding-top: 8px;
}
    .nav-right-icon{
        font-size: 30px;
    }
    .profile-pic{
        height: 30px;
        width: 30px;
    }
    .search-field{
        display: none;
    }
    .search-field-container{
        border: none;
        margin: 6px 3px;
    }
    .search-icon-container{
        width: 100%;
    }
    .search-icon{
        font-size: 1.5rem;
    }
}